body {
    background-color: #f5f5f5;
    font-family: Arial;
}

#khung {
    width: 350px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 200px auto;
    padding: 15px;
    text-align: center;
}